<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
 
<link rel="stylesheet" href="css/signin.css" th:href="@{/css/signin.css}">
<link rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}">

<title>Nueva Tienda</title>

</head>
<body>
<main class="form-signin">
<form th:action="@{/tienda/registrarTienda}" th:object="${objTienda}" method="post">
<img class="mb-4" src="" alt="" width="72" height="57">
<h1 class="h3 mb-3 fw-normal">Nueva Tienda</h1>

<div th:if="${mensaje!=null}" th:text="${mensaje}"></div>
<label><span></span></label>
<div class="form-floating">
<input type="text" class="form-control" id="direccion" placeholder="Direccion" name="direccion" th:field="*{direccion}" />
<label for="floatingInput">Direccion</label>
</div>
<div class="form-floating">
<input type="text" class="form-control" id="distrito" placeholder="Distrito" name="distrito" th:field="*{distrito}" />
<label for="floatingInput">Distrito</label>
</div>
<div class="form-floating">
<input type="text" class="form-control" id="aforo" placeholder="Aforo" name="aforo" th:field="*{aforo}" />
<label for="floatingInput">Aforo</label>
</div>


	<button class="w-100 btn btn-lg btn-secondary" type="submit"
			value="Grabar">Grabar</button>
		<br> <br>
	
		<p>
			<a class="w-100 btn btn-lg btn-outline-dark" th:href="@{/}">Regresar</a>
		</p>
		<p class="mt-5 mb-3 text-muted">&copy; Nov 2021</p>
	</form>
	</main>

</body>
</html>